APPLICATION_NAME=banchus
APPLICATION_PORT=8080

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=banchus
DATABASE_USERNAME=root
DATABASE_PASSWORD=root

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JPA_HIBERNATE_DDL_AUTO=create

LOG_LEVEL_ROOT=WARN
LOG_LEVEL_BANCHUS=DEBUG

OSU_DOMAIN_URL=bancho.local

MENU_ICON_IMAGE_URL=https://i.imgur.com/VmzTYym.png
MENU_ICON_REDIRECT_URL=https://bancho.local

SEASONAL_BACKGROUND_URLS=https://files.catbox.moe/lyde3w.png

# Beatmap statuses that contribute to PP (and update accuracy/rank/etc).
# All scores can be submitted on any beatmap, but ONLY scores on beatmaps with
# these statuses will update player stats (PP, accuracy, ranked score, etc).
# Scores on other beatmaps only add to totalScore.
# Values: 1=Ranked, 2=Approved, 3=Qualified, 4=Loved, 0=Pending, -1=WIP, -2=Graveyard
BEATMAP_PP_CONTRIBUTING_STATUSES=1,2,3