spring:
  application:
    name: poc-osu-server
  datasource:
    url: jdbc:mariadb://localhost:3306/poc_osu_db
    username: root
    password: root
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: create
