{$OSU_DOMAIN_URL}, c.{$OSU_DOMAIN_URL}, ce.{$OSU_DOMAIN_URL}, c4.{$OSU_DOMAIN_URL}, b.{$OSU_DOMAIN_URL}, api.{$OSU_DOMAIN_URL}, assets.{$OSU_DOMAIN_URL}, osu.{$OSU_DOMAIN_URL}, a.{$OSU_DOMAIN_URL} {
    encode gzip

    handle_path /preview/* {
        redir {scheme}://b.ppy.sh/preview/{path} 302
    }

    handle_path /thumb/* {
        redir {scheme}://b.ppy.sh/thumb/{path} 302
    }

    handle {
        request_body {
            max_size 20MB
        }

        reverse_proxy 127.0.0.1:{$APPLICATION_PORT} {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
        }
    }
}